iOS Integration Guide/example-apps/swift-demo-app-with-direct-firebase-dependency/Podfile.lock
iOS Integration Guide/example-apps/swift-demo-app/Podfile.lock
iOS Integration Guide/example-apps/objc-demo-app/Podfile.lock
